{% extends 'base.html.twig' %}

{% block title %}{{ 'posts.main_page.title' | trans }}{% endblock %}

{% block body %}

    <!--------   SLIDER   --------->
    <div class="container-fluid p-0">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" ></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-image">
                        <img src="{{ asset('uploads/images/computer_dog.png') }}"  alt="computer_dog.png" class="d-block  w-100">
                        <span class="overlayed"></span>
                    </div>

                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ 'posts.main_page.slider_greeting_1' | trans }}</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-image">
                        <img src="{{ asset('uploads/images/computer_pirate.jpg') }}"  alt="computer_pirate.png" class="d-block  w-100">
                        <span class="overlayed"></span>
                    </div>

                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ 'posts.main_page.slider_greeting_2' | trans }}</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-image">
                        <img src="{{ asset('uploads/images/computer_robber.jpg') }}" alt="computer_robber.png" class="d-block  w-100">
                        <span class="overlayed"></span>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ 'posts.main_page.slider_greeting_3' | trans }}</h5>
                    </div>
                </div>
            </div>
            <a href="#carouselExampleIndicators" class="carousel-control-prev " role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a href="#carouselExampleIndicators" class="carousel-control-next" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
<!--
    <div class="container-fluid">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-xs-12 col-sm-4 col-lg-3">
                    <img src="{{ asset('uploads/images/temp_logo_testing.png')}}" height="200" width="100" alt="logo" class="w-100">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Ipsa aliquam velit sequi dlor, necessitatibus ad?</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-3">
                    <img src="{{ asset('uploads/images/temp_logo_testing.png')}}" height="200" width="100" alt="logo" class="w-100">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Ipsa aliquam velit sequi dlor, necessitatibus ad?</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-3">
                    <img src="{{ asset('uploads/images/temp_logo_testing.png')}}" height="200" width="100" alt="logo" class="w-100">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Ipsa aliquam velit sequi dlor, necessitatibus ad?</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-3">
                    <img src="{{ asset('uploads/images/temp_logo_testing.png')}}" height="200" width="100" alt="logo" class="w-100">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Ipsa aliquam velit sequi dlor, necessitatibus ad?</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-3">
                    <img src="{{ asset('uploads/images/temp_logo_testing.png')}}" height="200" width="100" alt="logo" class="w-100">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Ipsa aliquam velit sequi dlor, necessitatibus ad?</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-3">
                    <img src="{{ asset('uploads/images/temp_logo_testing.png')}}" height="200" width="100" alt="logo" class="w-100">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Ipsa aliquam velit sequi dlor, necessitatibus ad?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="ml-5 w-25">
            dfgdsfgdfg twert ewt wert wert wert wert wert wert ewrt wert wert wert wert wert wert wert e
        </div>

    </div>
-->
    <div class="container post mx-auto">
        {% for post in posts %}
            <br>
            <div class="mx-2 mt-2">
                <h3><a href="{{ path('blog_show', {'slug': post.slug}) }}">{{ post.text  | slice(0, 30) ~ '...' }}</a></h3>
            </div>
            {% if post.image %}
                <div class="m-2">
                    <img src="{{ asset('uploads/images/' ~ post.image) }}">
                </div>
            {% endif %}
            <div class="text mx-2">
                {{ post.text }}
            </div>
            <div class="m-2">
                <a href="{{ path('blog_show', {'slug': post.slug}) }}">
                    <button class="btn btn-dark">
                        Read more
                    </button>
                </a>
            </div>
            <div class="dropdown-divider my-2" style="border-color: darkgrey;"></div>
            <span class="mx-2">{{ post.createdAtString }}</span>
            <span class="mx-2">{{ 'posts.main_page.by' | trans }} {{ post.username }}</span>
            <div class="dropdown-divider my-2" style="border-color: darkgrey;"></div>
            <br>
        {% endfor %}
    </div>  <!-- / .container post -->

    {% if app.user %}
        <p>
            <a href="{{ path('new_blog_post') }}">{{ 'posts.main_page.create_new_post' | trans }}</a>
        </p>
    {% endif %}
{% endblock %}
