{% extends 'base.html.twig' %}

{% block title %}{{ 'posts.query_post.title' | trans }}{% endblock %}

{% block body %}
    {% for post in posts %}
        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <a href="{{ path('blog_show', {slug: post.slug}) }}">{{ post.text | slice(0,30) ~ '...' }}</a>
                    {{ post.text | slice(0, 255) ~ '...' }}
            </p>
        </div>
    {% endfor %}
    <small class="d-block text-right mt-3">
        <a href="{{ path('blog_posts') }}">{{ 'posts.query_post.main_page' | trans }}</a>
    </small>
{% endblock %}
