{% extends 'base.html.twig' %}

{% block title %}{{ post.text  | slice(0, 10)}}{% endblock %}

{% block body %}
    <div class="my-5 mx-auto w-50">
        {{ post.text }}
        {% if post.image %}
            <img src="{{ asset('uploads/images/' ~ post.image) }}">
        {% endif %}

        {% if app.user %}
            {% if postIsByCurrentUser %}
                <p>
                    <a href="{{ path('blog_post_edit', {'slug': post.slug}) }}">{{ 'posts.show_single_post.edit' | trans }}</a>
                    <a href="{{ path('blog_post_delete', {'slug': post.slug}) }}">{{ 'posts.show_single_post.delete' | trans }}</a>
                </p>
            {% endif %}
        {% endif %}
        <p>
            <a href="{{ path('blog_posts') }}">{{ 'posts.show_single_post.back' | trans }}</a>
        </p>
    </div>
{% endblock %}
