{% extends 'base.html.twig' %}

{% block title %}{{ 'security.login.title' | trans }}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            {{ 'security.login.logged_in_as' | trans }} {{ app.user.username }},
            <a href="{{ path('logout') }}">{{ 'security.login.logout' | trans }}</a>
        </div>
    {% endif %}


    <div class="container test_login mx-auto w-25">
        <h1 class="h3  mb-3 font-weight-normal text-center">{{ 'security.login.invitation' | trans }}</h1>
        <div class="form-group">
            <label for="inputEmail">{{ 'security.login.email' | trans }}</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                   placeholder="{{ 'security.login.placeholder_email' | trans}}" required>
        </div>
        <div class="form-group">
            <label for="inputPassword">{{ 'security.login.password' | trans }}</label>
            <input type="text" name="password" id="inputPassword" class="form-control"
                   placeholder="{{ 'security.login.placeholder_password' | trans}}" required>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <p>
            <a href="{{ path("app_forgot_password_request") }}">{{ 'security.login.reset_password' | trans }}</a>
        </p>

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg btn-primary w-100" type="submit">
            {{ 'security.login.button' | trans }}
        </button>

        <div class="text-center my-2">
            {{ 'security.login.not_registered' | trans}}
            <a class="link" href="{{ path('register') }}">{{ 'security.login.create_account' | trans}} </a>
        </div>


    </div>


</form>
{% endblock %}
