{% extends 'base.html.twig' %}

{% block title %}{{ 'security.registration.title' | trans }}{% endblock %}

{% block body %}



    <div class="container register-page mx-auto w-25 pt-2" >
        <h3 class="text-center">{{ 'security.registration.title' | trans }}</h3>
        {% if form is defined %}
        {{ form_start(form, {'attr': {'class': 'form-group'}}) }}
            {{ 'security.registration.email' | trans }}
            <p>
                {{ form_widget(form.email, {'attr': {'class': 'text-left  w-100'}}) }}
            </p>
            {{ 'security.registration.username' | trans }}
            <p>
                {{ form_widget(form.username, {'attr': {'class': 'text-left w-100'}}) }}
            </p>
            {{ 'security.registration.first_password' | trans }}
            <p>
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'text-left  w-100'}}) }}
            </p>
            {{ 'security.registration.second_password' | trans }}
            <p>
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'text-left  w-100'}}) }}
            </p>



        <button type="submit" class="btn btn-success w-100 mt-2" formnovalidate>{{ 'security.registration.button' | trans }}</button>
        {{ form_end(form) }}
        {% endif %}
    </div>
{% endblock %}