<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <script src="{{ asset('build/js/app.js') }}"></script>
        <script src="{{ asset('build/js/carousel.js') }}"></script>
        <script src="https://www.google.com/recaptcha/api.js"></script>
    </head>
    <body>
    {% set currentRoute = app.request.attributes.get('_route') %}
    {% set currentRouteParams = app.request.attributes.get('_route_params') %}
    {% set currentQueryParams = app.request.query.get('q') %}
    {% set currentPage = app.request.query.get('page') %}
    {% set slug = app.request.attributes.get('slug') %}
    {% set referPage = app.request.server.get('HTTP_REFERER') %}
    {% set confirmCode = app.request.attributes.get('code') %}

    <!--------   NAVIGATION BAR   --------->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <a href="#" class="navbar-brand">
            <img src="https://www.mtsac.edu/asac/images/temp_logo_testing.png" width="50" height="50" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                 aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="{{ path('blog_posts', {'page': 1}) }}" class="nav-link">{{ 'nav_bar.home' | trans }}</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link disabled">{{ 'nav_bar.pricing' | trans }}</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link disabled">{{ 'nav_bar.about_us' | trans }}</a>
                </li>
            </ul>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    {{ 'nav_bar.language' | trans }}
                </button>
                <!-- choice of languages -->
                <div class="dropdown-menu">

                    <a class="dropdown-item" href="{{ path(currentRoute, {'_locale':'en', 'slug': slug, 'code': confirmCode, 'page': currentPage, 'q': currentQueryParams})  }}">English</a>
                    <a class="dropdown-item" href="{{ path(currentRoute, {'_locale':'ru', 'slug': slug, 'code': confirmCode, 'page': currentPage, 'q': currentQueryParams})  }}">Русский</a>
                    <a class="dropdown-item" href="{{ path(currentRoute, {'_locale':'ua', 'slug': slug, 'code': confirmCode, 'page': currentPage, 'q': currentQueryParams})  }}">Українська</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">{{ 'nav_bar.other_languages' | trans }}</a>
                </div>  <!-- /.dropdown-menu -->
            </div>  <!-- /.btn-group -->
            <div class="nav-item">
                <a href="{{ path('login') }}">
                    <button class="btn btn-outline-light mx-2 my-sm-2">{{ 'nav_bar.sign_in' | trans }}</button>
                </a>
            </div> <!-- /.nav-item -->
            <form class="form-inline my-2 my-lg-0" action="{{ path('blog_search') }}" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="{{ 'nav_bar.search' | trans }}" aria-label="Search" name="q">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{ 'nav_bar.find_post_button' | trans }}</button>
            </form>
        </div>  <!-- /.navbar-collapse -->
    </nav>  <!-- END OF THE NAVIGATION BAR -->

    <div class="page-title">
        {% block body %}

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </div>

    </body>
</html>
