<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <script src="{{ asset('build/js/app.js') }}"></script>
        <script src="https://www.google.com/recaptcha/api.js"></script>
    </head>
    <body>
        {% set currentRoute = app.request.attributes.get('_route') %}
        {% set currentRouteParams = app.request.attributes.get('_route_params') %}
        <p>
            <a href="{{ path(currentRoute, currentRouteParams|merge({'lang' : 'en'})) }}">English</a>
            <a href="{{ path(currentRoute, currentRouteParams|merge({'lang' : 'ru'})) }}">Русский</a>
            <a href="{{ path(currentRoute, currentRouteParams|merge({'lang' : 'ua'})) }}">Українська</a>
        </p>

        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
